body{
	background-color: #b4bec8;
	
}

h1{
	color: #2e3237;
	font-family: Garamond;
	margin-top: 15px;
	margin-bottom: 15px;
	text-align: center;
}

.hr0{
	margin-top: 25px;
	margin-bottom: 15px;
	margin-left: 560px;
	margin-right: 560px;
	height: 2px;
}

.hr1{
	margin-bottom: 20px;
	margin-left: 560px;
	margin-right: 560px;
	height: 2px;
}

div{
	border-radius: 15px;
	background-color: #e6e9ec;
	margin-left: 160px;
	margin-bottom: transparent;
}

.divPrincipal1{
	position: absolute;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-right: 148px;
}

.divPrincipal2{
	position: absolute;
	margin-top: 30%;
	margin-bottom: 1%;
	padding-right: 229.2px;
}

.divPrincipal3{
	position: absolute;
	margin-top: 58%;
	margin-bottom: 1%;
	padding-right: 136px;
}

.divPrincipal4{
	position: absolute;
	margin-top: 86%;
	margin-bottom: 1px;
	padding-right: 242px;
}

h5{
	position: absolute;
	margin-top: 114%;
	color: transparent;
}

.org1{
	margin-left: 90px;
}

.imgP{
	border-radius: 13px;
	margin-top: 15px;
	margin-bottom: 13px;
	margin-left: 5px;
}

.titulo2{
	color: #505d65;
	text-align: center;
	left: 500;
}

.titulo3{
	color: #505d65;
	margin-left: 15px;
}

hr{
	height:0px;
    background-color: #000000;
	border-radius: 10px;
	margin-left: 165px;
	margin-right: 165px;
}

.divSP{
	margin-left: 600px;
	margin-right: 600px;
}

.divS{
	margin-left: 120px;
	border-radius: 13px;
	margin-right: 120px;
	margin-top: 30px;
	margin-bottom: 45px;
	
}

.imgS{
	margin-left: 10px;
	margin-right: 15px;
	margin-top: 20px;
	margin-bottom: 25px;
	border-radius: 13px;
	width: 553px;
	position: absolute;
}

.video{
	margin-left:22px;
	margin-top: 20px;
	margin-bottom: 24px;
	border-radius: 13px;
	width: 510px;
	height: 309px;
	position: relative;
}

.divT{
	margin-left: 450px;
	border-radius: 13px;
	margin-right: 450px;
	margin-top: 30px;
	margin-bottom: 45px;
	text-align: center;
}

.tabelasNutri{
	margin: auto;
	text-align: center;
	margin-left: 36px;
	margin-top:10px;
	margin-bottom: 10px;
	width: 380px;
	border: solid #000 2.5px;
	border-collapse: separate;
	padding: 7px;
	border-radius: 13px;
	-webkit-border-radius: 13px;
		-moz-border-radius:13px;
}

#border{
	border: solid #000 2px;
	border-collapse: separate;
	border-radius: 5px;
	padding: 3px;
}

.return{
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left:620px;
	margin-right: 620px;
	text-align: center;
	border-radius: 11px;
}

.divCarnes {
	position: relative;
	float: left;
	height: 200px;
	line-height: 200px;
	margin-left: 700px;
	background-color: transparent;
}