<ng-container class="grid grid-cols-1 grid-rows-1">
  <div class="sec0 flex flex-col gap-1 w-full bg-gray-700">
    <div class="w-full sec0-div1">
      <img class="sec0-div1-img" src="{{project.coverImg}}" alt="cover-photo">
    </div>
    <div class="sec0-div2">
      <span class="sec0-div2-span">{{project.subtitle}}</span>
      <h2 class="sec0-div2-h2">{{project.title}}</h2>
    </div>
  </div>

  <ng-container class="sec1">
    <div>
      <p>{{pageTopics.glance}}</p>
      <span>{{project.explaining.explain1}}</span>
    </div>

    <div>
      <div>
        <p>{{pageTopics.timeline}}</p>
        <span>{{project.resume.timeline}}</span>
      </div>

      <div>
        <p>{{pageTopics.my_role}}</p>
        <span>{{project.resume.myRole}}</span>
      </div>

      <div>
        <p>{{pageTopics.tech}}</p>
        <span>{{project.resume.tech}}</span>
      </div>

      <div>
        <p>{{pageTopics.links}}</p>
        <span>{{project.resume.links_text.github}}</span>
        <br>
        <span>{{project.resume.links_text.source2}}</span>
      </div>
    </div>
  </ng-container>

  <ng-container class="sec2">
    <div>
      <p>{{pageTopics.first_steps}}</p>
      <span>{{project.explaining.explain2}}</span>
    </div>

    <div>
      <img src="{{project.imageUrls.combo1.img1}}" alt="">
      <img src="{{project.imageUrls.combo1.img2}}" alt="">
    </div>
  </ng-container>

  <ng-container class="sec3">
    <div>
      <p>{{pageTopics.details}}</p>
      <span>{{project.explaining.explain3}}</span>
    </div>

    <div>
      <img src="{{project.imageUrls.combo2.img1}}" alt="">
      <img src="{{project.imageUrls.combo2.img2}}" alt="">
    </div>
  </ng-container>

  <ng-container class="sec4">
    <div>
      <p>{{pageTopics.learnt}}</p>
      <span>{{project.explaining.explain4}}</span>
    </div>
  </ng-container>

  <ng-container class="sec5">
    <div>
      <button (click)="cardService.closeCard()">{{pageTopics.closeBtn}}</button>
    </div>
  </ng-container>
</ng-container>
