@media (min-width: 640px) {
    .w-one-half {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .w-one-quarter {
        width: 25%;
    }
}

.mb-4 {
    margin-bottom: 1rem;
}

.openCardBtn{
    background-color: #4B5E75;
    color: #E3E6FA;
    font-size: smaller;
    border-radius: 0.6rem;
    padding: 0 0.6rem;
}

.project-card{
  z-index: 20;
  position: absolute;
  width: 80%;
  background-color: aquamarine;
  display: flex;
  justify-content: center;
  align-items: center;
}
