@media (min-width: 640px) {
    .w-one-half {
        width: 50%;
    }
}

@media (min-width: 768px) {
    .w-one-quarter {
        width: 25%;
    }
}

.mb-4 {
    margin-bottom: 1rem;
}

.openCardBtn{
    background-color: #4B5E75;
    color: #E3E6FA;
    font-size: smaller;
    border-radius: 0.6rem;
    padding: 0 0.6rem;
}

.project-card-container{
  z-index: 20;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .foreground-gray{
    width: 100%;
    height: 100%;
  }

  .project-card-div{
    position: absolute;
    background-color: aquamarine;
    width: 90%;
    min-height: 90%;
    bottom: 10%;
    top: 2em;
    border-radius: 1.2em;
    overflow: auto;

    .project-card-tag{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      padding: 1.5em;
    }
  }
}
