<div class="flex flex-col lg:flex-row items-center justify-center h-screen main">
    <div class="flex flex-col items-center justify-center lg:w-1/2 p-4">
        <div class="text-2xl mb-4 text-gray-800 h1">
            <h1 class="">Um pouco sobre mim...</h1>
        </div>
        <div class="text-center">
            <p class="text-gray-500 max-w-md pb-4">Brasileiro, apaixonado por tecnologia e idiomas.
                Atualmente curso o 5° semestre de Ciência da Computação na Universidade FUMEC em Belo Horizonte</p>
            <p class="text-gray-500 max-w-md">Meu desejo atual é estagiar na minha área de estudo, como
                desenvolvedor web com foco em front-end e ui/ux design, podendo aprender mais sobre essa área maravilhosa.</p>
        </div>
    </div>
    <div class="pl-6 lg:w-1/2">
        <img src="../../../assets/img/about_sticker.png" alt="astronaut" class="w-full h-auto" />
    </div>
</div>