.container-div {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-header,
app-footer {
    flex-shrink: 0;
}

router-outlet {
    flex-grow: 1;
    display: none;
}

app-footer {
    margin-top: auto;
}
