.container-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
}

app-header,
app-footer {
    flex-shrink: 0;
}

app-footer {
    margin-top: auto;
}