.current::after {
    content: "";
    display: block;
    width: 1em;
    height: 0.29em;
    background-color: var(--dark-text);
    border-radius: 3em;
    margin: 0.19em auto;
    color: var(--dark-text);
}

.current {
    font-weight: 600;
    color: var(--dark-text);
}

.hide{
    display: none;
    visibility: hidden;

}

.link-margin{
    margin-top: 0.7em;
}

.color{
    background-color: aquamarine;
}

.nav-link{
    font-weight: 600;
}

.nav-buttons{
    background-color: var(--bone-secondary-light-theme);
    border-radius: 1.1em;
}

.img-bt{
    width: 25px;
    height: 25px;
}

.action-button{
    background-color: var(--shadow-blue-primary-light-theme);
    border-radius: 1.25em;
    width: 8.1em;
    height: 3em;
}

.margin-right{
    padding-left: 1em;
}

@media screen and (min-width: 700px) {
    
}  