<section class="flex flex-col lg:flex-row lg:max-w-6xl mx-auto mt-8">
    <div class="lg:w-1/2 p-7">
        <div class="mb-4 flex-col justify-center">
            <span>Hey, eu sou</span>
            <h1 class="text-3xl font-bold">Guilherme</h1>
            <p class="text-gray-500">Graduando de Ciência da Computação apaixonado por UI/UX desgin e idiomas.</p>
        </div>
        <div class="flex gap-2 flex-wrap justify-around">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
            <img src="https://via.placeholder.com/100x100" alt="Placeholder" class="w-1/6 habilities">
        </div>
    </div>

    <div class="lg:w-1/2 p-8 flex justify-center items-center">
        <img src="../../../assets/img/sticker-main-page.png" alt="Placeholder" class="max-w-full">
    </div>
</section>

<section class="flex flex-wrap justify-center gap-3 pt-6">
    <button routerLink="/projects" class="bg-cover bg-center h-14 w-48"
        style="background-image: url(https://via.placeholder.com/800x600);">
        <span class="font-bold">Projetos</span>
    </button>

    <button routerLink="/academic" class="bg-cover bg-center h-14 w-48"
        style="background-image: url(https://via.placeholder.com/800x600);">
        <span class="font-bold">Acadêmico</span>
    </button>
</section>