.phrase{
    width: 23rem;
    padding-inline-end: 3.5em;
    margin-top: 0.5em;
}

.habilities{
    width: 2.5rem;
    height: 2.5rem
}

button{
    border-radius: 1.2em;
}

html{
    flex-grow: 1;
}

.color{
    background-color: aquamarine;
}