<div class="flex flex-wrap p-5">
    <div *ngFor="let item of project, let i = index" class="w-full sm:w-1/2 md:w-1/3 lg:w-1/4 px-2 mb-5" (click)="openCard(item.title)">
        <div class=" rounded-lg overflow-hidden">
            <img src="{{ image[i].imgSrc }}" alt="{{ item.title }}" class="h-48 w-full object-cover rounded-lg" />
            <div class="mt-2">
                <h2 class="font-bold text-lg mb-0.5">{{ item.title }}</h2>
                <h3 class="text-gray-700 text-xs mb-0.5">{{ item.subtitle }}</h3>
                <span class="text-gray-500 text-sm">{{ item.description }}</span>
            </div>
        </div>
    </div>
</div>