@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&family=Open+Sans:wght@300;400;700&display=swap');

:root{
  /* Light Theme Colors
  =============================================================*/
  --text-light: #1B1B1B;
  --2nd-text-light: #9B9B9B;

  /* Dark Theme Colors
  =============================================================*/
    --text-dark: #FFF5E9;
    --2nd-text-dark: var(--2nd-text-light);
}
