@tailwind base;
@tailwind components;
@tailwind utilities;


@import "./assets/styles/reset.css";
@import "./assets/styles/colors.css";
@import "./assets/styles/typograph.css";

body{
    background-color: var(--old-lace-base-color-light-theme);
    color: var(--dark-text);
    min-height: auto;
}

