html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-light);
}

::-webkit-scrollbar {
  width: 1em;
  overflow-y: auto;
}

::-webkit-scrollbar-track {
  background-color: var(--bg-light);
  margin-block: 0.3em;
  border-radius: 0.8em;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cta3-light);
  border-radius: 0.5em;
  border: 0.3em solid var(--bg-light);
}
