body{
    background-image: url(../4.extra/1.background/edited/Background\ 5.jpg);
    background-repeat:no-repeat;
    background-size:cover;
    background-attachment:scroll;
    font-family: 'Inter', sans-serif;
}

h1{
    text-align: center;
    margin-top: 85px;
    margin-right: 0.5%;
}

#calc{
    text-align: center;
    margin-top: 100px;
    margin-right: 0.5%;
}

form{
    display: grid;
    grid-template-rows: 25% 50% 25%;
}

section{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
}

fieldset{
    box-sizing: border-box;
    background-color: #f5f5f5;
    border-radius: 13px;
    border-style:double;
}

#x{
    width: 22.5%;
    height: 25%;
    text-align: center;
}

#y{
    width: 22.5%;
    height: 25%;
    text-align: center;
}

#result{
    width: 22.5%;
    height: 50%;
    text-align: center;
}
